*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

ul{
  list-style-type: none;
}

.ContainerNavbar {
  display: flex;
  justify-content: space-between;
  margin: 24px 24px 0px 24px;
}

.ToDoContainer{
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 48px;
  height: 60vh;
}
.containerImportantToDO{
  background-color: gray;
  width: 30vw;
  border: 2px dotted black;
  border-radius: 15%;
}

.containerSecondaryToDO{
  background-color: goldenrod;
  width: 30vw;
  border: 2px dotted black;  
  border-radius: 15%;
}

.containerThirdToDO{
  background-color: beige;
  width: 30vw;
  border: 2px dotted black;
  border-radius: 15%;
}